/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: hsl(30, 38%, 92%);
}

.card {
	display: flex;
	max-width: 600px;
	height: 420px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 8px;
}

.image-section {
	background-image: url(./images/image-product-desktop.jpg);
	background-size: cover;
	flex: 1 1 0%;
	border-radius: 8px 0 0 8px;
}

.card-desc {
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;
}

.card-desc > span {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-size: 12px;
	color: hsl(158, 36%, 37%);
}

.card-title {
	font-family: 'Fraunces', serif;
	font-weight: 700;
	font-size: 32px;
	margin: 1rem 0;
	padding-right: 4rem;
	color: hsl(212, 21%, 14%);
}

.card-info {
	margin-bottom: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	word-spacing: 3px;
	color: hsl(228, 12%, 48%);
}

.pricing {
	display: flex;
	align-items: center;
}
.price {
	font-size: 32px;
	font-family: 'Fraunces', serif;
	color: hsl(158, 36%, 37%);
}

.original {
	font-size: 14px;
	margin-left: 1.6rem;
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
}

.btn {
	margin-top: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-decoration: none;
	background-color: hsl(158, 36%, 37%);
	color: hsl(0, 0%, 100%);
	text-align: center;
	padding: 1rem 1.8rem;
	border-radius: 8px;
}

.btn img {
	display: inline-block;
	margin-right: 8px;
	width: 12px;
	height: 12px;
	color: #fff;
}

.btn:hover,
.btn:focus {
	background-color: hsl(159, 47%, 17%);
}

@media (max-width: 700px) {
	body {
		align-items: flex-start;
		height: auto;
	}

	.card {
		margin: 3rem 1rem;
		flex-direction: column;
		max-width: 500px;
		height: 100vh;
	}

	.image-section {
		background-image: url(./images/image-product-mobile.jpg);
		background-size: cover;
		min-height: 35%;
		border-radius: 8px 8px 0 0;
	}

	.card-title {
		font-size: 28px;
		padding: 1rem 0;
	}
}
